// Helsinki Brand Color Variables
// Extracted from https://github.com/City-of-Helsinki/open-city-design/blob/master/src/scss/helsinki/_colors.scss
// --------------------------------------------------

// Brand colors

$hel-copper:        #00d7a7;
$hel-bus:           #0000bf;
$hel-coat:          #0072c6;
$hel-fog:           #9fc9eb;
$hel-metro:         #fd4f00;
$hel-brick:         #bd2719;
$hel-suomenlinna:   #f5a3c7;
$hel-engel:         #ffe977;
$hel-tram:          #009246;
$hel-summer:        #ffc61e;
$hel-silver:        #dedfe1;
$hel-gold:          #c2a251;
$hel-black:         #231f20;
$hel-dark:          #525a65;
$hel-gray:          #abb2bd;
$hel-light:         #ebedf1;
$hel-white:         #ffffff;

$black: #000;
$red: #FF0000;