// Margin and padding
$basePadding: 1.25rem;
$largePadding: 2.5rem;
$baseMargin: $basePadding;
$largeMargin: $largePadding;

// Button
$buttonHeight: 3rem;
$mediumButtonHeight: 3.5rem;
$smallButtonHeight: 3rem;
$buttonFontSize: 1.125rem;
$buttonFontWeight: 500;
$buttonPadding: 0.375rem 0.75rem;
$mediumButtonPadding: 1rem;
$smallButtonPadding: 0.75rem 1.5rem;

// Spinner 
$spinnerHeight: 5rem;
