@import 'layout';

.landingPageSearchWrapper {
  position: relative;
  background-color: var(--background-color);
  clip-path: url(#wave);
  z-index: 1;
}

.typeCourse {
  --background-color: var(--color-fog-medium-light);
}

.typeEvent {
  --background-color: var(--color-copper-medium-light);
}

.landingPageSearch {
  color: var(--color-black);
  padding: var(--spacing-xl);
  z-index: 1;
  position: relative;

  @include respond-above(md) {
    padding: var(--spacing-xl) 0;
    margin-top: 1rem;
  }

  @include respond-below(sm) {
    padding: var(--spacing-2-xl) var(0.75rem + var(--spacing-m));
    padding-bottom: 6rem;
  }

  @include respond-between(sm, md) {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    padding: var(--spacing-xl) 0;
    padding-bottom: 6rem;

    & > * {
      grid-column: 2;
    }
  }

  .searchRow {
    margin-bottom: 1.25rem;
    height: fit-content;
    align-items: center;
    position: relative;
  }

  h2 {
    font-size: var(--fontsize-heading-m);
    margin: 0;

    @include respond-above(md) {
      font-size: var(--fontsize-heading-l);
    }
  }

  .titleWrapper {
    padding-top: 1.3125rem;
    min-width: 11.1rem;
    margin-bottom: var(--spacing-m);
  }

  .autosuggestWrapper {
    align-self: flex-end;
    display: grid;
    grid-template-columns: 1fr auto;

    @include respond-above(md) {
      grid-template-columns: 1fr 10rem;
    }
  }

  .buttonWrapper {
    align-self: flex-end;
  }

  .popularCategories {
    margin-top: 1rem;

    @include respond-above(md) {
      margin-top: 3rem;
    }
  }

  .categoriesTitle {
    font-size: var(--fontsize-body-l);
    font-weight: 500;
  }

  .categoriesButtons {
    --button-spacing: calc(var(--spacing-2-xs) / 2);
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--button-spacing));

    & > * {
      margin: var(--button-spacing);
    }
  }
}
