@import "colors";

.iconButton {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  background-color: $hel-copper-light-20;
  border-color: $hel-copper-light-20;
  padding: 0;
  display: flex;
  justify-content: center;

  svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  &:focus {
    outline: 2px solid $hel-black;
  }
}

.small {
  height: 1.25rem;
  width: 1.25rem;

  svg {
    height: 1rem;
    width: 1rem;
  }
}