@import 'colors';
@import 'fonts';
@import 'layout';
@import 'variables';

.collectionHero {
  padding-bottom: 0;
  background-color: var(--color-white);

  @include respond-above(sm) {
    display: grid;
    grid-row: span;
    place-content: flex-start;
    padding-bottom: var(--spacing-xl);

    & > * {
      grid-column: 2;
    }
  }

  h1 {
    font-size: var(--fontsize-h-2);
    margin: 2rem 0 0.5rem;
  }

  @include respond-above(sm) {
    grid-template-columns: var(--spacing-l) 1fr;
  }

  @include respond-above(m) {
    grid-template-columns: 1fr 10fr 1fr;
  }

  @include respond-above(xlg) {
    grid-template-columns: 1fr 91.875rem 1fr;
  }
}

.imageWithCard {
  max-width: 100%;
  width: 100% !important;

  h2 {
    margin-bottom: 1rem;
  }

  h3 {
    margin: 1rem 0;
    font-weight: normal;
  }

  p {
    margin: 1rem 0;
  }

  a {
    color: $hel-black;
    text-decoration: none;
    font-weight: $link-font-weight;
    display: flex;

    .linkIcon {
      margin-left: 0.5rem;
      align-self: center;
    }
  }

  div:last-child {
    max-width: unset;

    @include respond-below(sm) {
      margin: 0;
      padding-bottom: var(--spacing-s);
    }
  }
}

.copperBackgroundColor {
  --card-background-primary: var(--color-copper-light-50) !important;
  --card-color-primary: var(--color-black) !important;
}

.engelBackgroundColor {
  --card-background-primary: var(--color-engel) !important;
  --card-color-primary: var(--color-black) !important;
}

.fogBackgroundColor {
  --card-background-primary: var(--color-fog-light-50) !important;
  --card-color-primary: var(--color-black) !important;
}

.suomenlinnaBackgroundColor {
  --card-background-primary: var(--color-suomenlinna-light-50) !important;
  --card-color-primary: var(--color-black) !important;
}
