@import "colors";
@import "layout";

.toggleButton {
  border: 2px solid $hel-white;
  padding: 0 1rem;
  height: 2.25rem;
  margin: 0 0.75rem 1.25rem 0;

  &.isSelected {
    color: #464646;
    background-color: $hel-white;
  }

  &:focus {
    outline: 2px solid white;
    outline-offset: 2px;
  }

  @include respond_above(sm) {
    display: none;
  }

  .innerWrapper {
    display: flex;
    align-items: center;
    
    svg {
      height: 1.25rem;
      width: 1.25rem;
      margin-right: 1rem;
    }
  }
}