.mobileMenu {
  position: fixed;
  top: -100vh;
  bottom: 100vh;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: transparent;
  transition: background-color 0.2s;
  display: grid;
  grid-template-rows: 1fr auto;
  visibility: hidden;

  &.menuOpen {
    top: 3.125rem;
    bottom: 0;
    background-color: $hel-white;
    transition: background-color 0.5s;
    z-index: 2;
    visibility: unset;
  }

  .linkWrapper {
    ul {
      list-style: none;
      padding: 0;
      margin-top: var(--spacing-4-xl);
    }

    .link {
      background-color: $hel-copper-light-20;
      padding: var(--spacing-m) var(--spacing-l);
      margin-bottom: var(--spacing-2-xs);

      a {
        display: flex;
        align-items: center;
        color: var(--color-black-90);
        text-decoration: none;
        font-size: var(--fontsize-body-xl);
        font-weight: 600;
      }

      svg {
        height: var(--spacing-m);
        width: var(--spacing-m);
        margin-right: var(--spacing-s);
      }
    }
  }

  .languageSelectWrapper {
    padding-bottom: var(--spacing-3-xl);

    ul {
      list-style: none;
      padding: 0;
      margin-top: var(--spacing-4-xl);

      .languageLink {
        text-align: center;
        margin-bottom: var(--spacing-m);

        a {
          color: var(--color-black-90);
          text-decoration: underline;
          font-size: var(--fontsize-var-l);
          font-weight: normal;
        }

        &.isSelected {
          a {
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }
  }
}
