@import "colors";

.dateSelectorMenu {
  background: $hel-white;
  color: $hel-black;
  position: absolute;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;

  .button {
    cursor: pointer;
    background: transparent;
    border: none;
    display: flex;
    width: 100%;
    padding: 1rem;
    align-items: center;

    svg:first-child {
      margin-right: 1rem;
    }

    svg:last-child {
      margin-left: 0.75rem;
      height: 0.75rem;
      width: 0.75rem;
    }
  }

  .hidden {
    display: none;
  }

  .wrapper {
    padding: 1rem;
  }

  .buttonText {
    flex: 1 1 0%;
    text-align: left;
  }

  .btnSelectDates {
    border-top: 1px solid $hel-light; 
    font-weight: 500;
  }

  .btnBack {
    font-weight: 500;
    border-bottom: 1px solid $hel-gray; 

    svg:first-child {
      margin-right: 0.75rem;
      height: 0.75rem;
      width: 0.75rem;
    }
  }

  .btnClose {
    border-top: 1px solid $hel-light; 

    .buttonText {
      text-align: center;
    }
  }
}