@import 'layout';

$heroHeight: 34.5rem;
$heroHeightDesktop: 39.3125rem;

.eventClosedHero {
  background: var(--color-copper-light-20);
  min-height: $heroHeight;
  margin-bottom: -12rem;
  padding: 5.625rem var(--spacing-m) 10rem;
  text-align: center;
  box-sizing: border-box;

  @include respond_above(sm) {
    min-height: $heroHeightDesktop;
    padding-top: 10.375rem;
    padding-bottom: 14rem;
    margin-bottom: -14rem;
  }

  h1 {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-size: 1.25rem;
    max-width: 610px;
    margin: 0 auto 2rem;
    line-height: 2rem;
  }

  button {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
