@import 'layout';

.bottomFooter {
  background-color: var(--color-summer-light-50);
  padding: 1.25rem 0;
  display: block;

  @include respond-below(sm) {
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s;
  }

  &.mobileMenuOpen {
    @include respond-below(sm) {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.5s, opacity 0.5s;
    }
  }

  @include respond-below(sm) {
    padding: 3.75rem 0;
  }

  .contentWrapper {
    display: flex;

    @include respond-below(sm) {
      flex-direction: column;
    }
  }

  .linkContainer {
    display: flex;
    align-items: center;

    @include respond-below(sm) {
      flex-direction: column;
    }

    a {
      margin-right: 2.5rem;
      font-size: var(--fontsize-body-l);
      color: var(--color-black);
      text-decoration: underline;
      font-weight: normal;

      @include respond-below(sm) {
        margin-right: 0;
        margin-bottom: 1.25rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
