@import "layout";
@import "mixins";

$logoHeight: 3.25rem;
$logoWidth: 7rem;

.bottomFooter {
  background-color: #ffe28e;
  padding: 2.5rem 0 1.25rem;
  display: block;
  opacity: 1;
  transition: visibility 0.2s, opacity 0.2s;

  &.mobileMenuOpen {
    visibility: hidden;
    opacity: 0;     
    transition: visibility 0.5s, opacity 0.5s;
  }

  @include respond-below(sm) {
    padding: 3.75rem 0 5rem;
  }

  .contentWrapper {
    display: flex;

    @include respond-below(sm) {
      flex-direction: column;
    }
  }

  .linkContainer {
    flex: 1 1 0%;
    display: flex;
    align-items: center;

    @include respond-below(sm) {
      flex-direction: column;
      margin-bottom: 3rem;
    }

    a {
      margin-right: 2.5rem;
      font-size: 1.125rem;
      color: $hel-black;
      text-decoration: underline;
      font-weight: normal;

      @include respond-below(sm) {
        margin-right: 0;
        margin-bottom: 1.25rem;
      }
    }
  } 
  .logoWrapper {
    display: flex;
    justify-content: center;
  }

  .helsinkiLogo {
    @include helsinki-logo($hel-black);
    background-position: center;
    height: $logoHeight;
    width: $logoWidth;
  }
}