@import 'node_modules/hds-design-tokens/lib/breakpoint/breakpoint.scss';

.navigation {
  .navigationItem {
    color: var(--navigation-item-color) !important;
  }
  .addEventItem {
    margin-left: auto !important;

    &.hidden {
      visibility: hidden;
    }

    svg {
      margin-right: var(--spacing-xs);
    }
  }
  .navigationItemLabel {
    display: flex;
    align-items: center;
  }

  .languageSelector {
    @media only screen and (max-width: $breakpoint-m) {
      position: absolute;
      right: var(--spacing-5-xl);
    }
    & > div {
      left: unset;
      right: 0;
    }
  }
}
