@import 'mixins';

.mobileNavbar {
  --height-logo: 2.5rem;
  --width-logo: 5.5rem;
  --width-logo-sv: 7.1875rem;

  height: 100%;
  display: flex;
}

.logoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.appName {
  margin: var(--spacing-xs) var(--spacing-l);
  font-size: var(--fontsize-body-l);
  color: var(--color-black);
  font-weight: 600;
  white-space: nowrap;
}

.logo {
  background-position: center;
  height: var(--height-logo);

  &.fi {
    @include helsinki-logo();
    width: var(--width-logo);
  }

  &.sv {
    @include helsinki-logo('sv');
    width: var(--width-logo-sv);
  }
}

.buttonWrapper {
  display: flex;
  flex: 1 1 0%;
  justify-content: flex-end;

  .closeButton {
    background: none;
    border: none;
    padding: var(--spacing-2-xs);
    margin-right: calc(0rem - var(--spacing-2-xs));
  }

  .menuButton {
    background: none;
    border: none;
    padding: var(--spacing-2-xs);
    margin-right: calc(0rem - var(--spacing-2-xs));
  }
}
