@import "colors";
@import "mixins";
@import "variables";
@import "fonts";

$logoHeight: 4.375rem;
$logoWidth: 9.5rem;

.footer {
    display: grid;
}

.footerWrapper {
    @include koro('basic', $hel-light, 1000);
    
    display: grid;
    align-items: center;
}

.helsinkiLogo {
    @include helsinki-logo($hel-black);
    background-position: center;
    height: $logoHeight;
    width: $logoWidth;
    margin-bottom: $baseMargin;
}

.copyright{
    border-top: 1px solid $hel-black;
    padding-top: $basePadding;

    p {
        margin: 0;
        color: $hel-gray;
    }
}
