@import "colors";
@import "variables";

.btn {
  border: 1px solid $black;
  color: $black;
  text-align: center;
  height: $buttonHeight;
  padding: $buttonPadding;
  cursor: pointer;
  position: relative;
  font-weight: $buttonFontWeight;

  svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: $hel-white;
    stroke: $hel-white;
    position: absolute;
    left: 1rem;
  }
}

.fullWidth {
  width: 100%;
}

// Button sizes

.mdSize {
  font-size: $buttonFontSize;
  min-height: $mediumButtonHeight;
  padding: $mediumButtonPadding;
}

.smSize {
  font-size: $buttonFontSize;
  min-height: $smallButtonHeight;
  padding: $smallButtonPadding;
}

// Button colors

.primary {
  background-color: $dark-green;
  border-color: $dark-green;
  color: $hel-white;  
}
