@import "colors";
@import "variables";

.btn {
  border: 1px solid $black;
  color: $black;
  text-align: center;
  height: $buttonHeight;
  padding: $buttonPadding;
  cursor: pointer;

  svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: $hel-white;
    stroke: $hel-white;
    float: left;
  }
  
  &Block {
    width: 100%;
  }

  &MediumPrimary {
    background-color: $dark-green;
    border-color: $dark-green;
    color: $hel-white;
    font-size: $buttonFontSize;
    font-weight: $buttonFontWeight;
    min-height: $mediumButtonHeight;
    padding: $mediumButtonPadding;
  }
}
