.dateRangeInputsContainer {
  display: grid;
  grid-template-columns: 1fr 2.5rem 1fr;
}

.dateInputWrapper {
  --input-border-color-default: var(--color-black-50);
  --input-border-color-hover: var(--color-black-90);
  --focus-outline-color: var(--color-coat-of-arms-blue);

  label {
    font-size: 0.875rem;
  }

  .formatInfo {
    font-size: 0.875rem;
    padding-bottom: 0.5rem;
  }

  .inputWrapper {
    display: flex;
    border: none;
    .input {
      flex: 1 1 0%;

      input {
        border: 2px solid var(--input-border-color-default);
        width: 100%;
        padding: 0.6875rem 0.5rem;
        box-sizing: border-box;

        &:focus {
          box-shadow: 0 0 0 var(--outline-width) var(--focus-outline-color);
          outline-offset: 2px;
          border-color: var(--input-border-color-focus);
        }
      }
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      border: 2px solid var(--input-border-color-default);
      border-left: none;

      svg {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}

.dateSeparator {
  justify-self: center;
  align-self: flex-end;
  line-height: 2.5rem;
}
