@import "colors";

.languageDropdown {
  position: relative;
  align-self: center;

  .languageDropdownButton {
    display: flex;
    font-size: 1rem;
    color: $hel-black;
    font-weight: normal;
    align-items: center;
    padding: 0.5rem;
    border: 2px solid $hel-white;

    .iconLanguage {
      height: 1.25rem;
      width: 1.25rem;
      margin-right: 0.625rem;
    }

    .textWrapper {
      display: flex;
      align-items: center;
    }

    .iconAngleDown {
      height: 1rem;
      width: 1rem;
      margin-left: 0.625rem;
    }

    &:hover {
      .textWrapper {
        border-bottom: 1px solid $hel-black;
      }
    }

    &:focus {
      border: 2px solid $hel-black;
    }
  }
  
  .languageDropdownMenu {
    display: none;
  }

  &.isMenuOpen {
    .languageDropdownButton {
      .iconAngleDown {
        transform: rotate(180deg);
      }
    }
    
    .languageDropdownMenu {
      display: block;
      position: absolute;
      margin: 0;
      padding: 0;
      list-style: none;
      top: 100%;
      right: 0;
      background-color: $hel-white;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);

      li {
        padding: 0.625rem 1.5rem;
        font-size: 1rem;
        cursor: pointer;
        white-space: nowrap;
        border-bottom: 1px solid $hel-black-10;

        &.isSelected {
          font-weight: 600;
        }
        &.isFocused {
          background-color: $hel-fog;
        }
        &:hover {
          text-decoration: underline;
        } 
      }
    }
  }
}
