.iconLink {
  display: inline-flex;
  text-decoration: none;
  color: var(--color-black);

  .iconWrapper {
    background-color: var(--color-copper-light);
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .textWrapper {
    align-self: center;
    font-size: var(--fontsize-body-l);
    font-weight: 600;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  svg {
    height: 1.25rem;
    width: 1.25rem;
  }

  &.white {
    .iconWrapper {
      background-color: var(--color-white);
    }
  }
}
