@import 'colors';
@import 'layout';

.dateSelectorMenu {
  background: var(--color-white);
  color: var(--color-black);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  min-width: fit-content;

  &.isCustomDate {
    min-width: 21rem;
  }

  @include respond_above(sm) {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }

  .button {
    cursor: pointer;
    background: transparent;
    border: none;
    display: flex;
    width: 100%;
    padding: 1rem;
    align-items: center;

    svg:first-child {
      margin-right: 1rem;
    }

    svg:last-child {
      margin-left: 0.75rem;
    }

    &:focus {
      outline: 2px solid var(--color-black);
      outline-offset: -2px;
    }
  }

  .hidden {
    display: none;
  }

  .checkboxWrapper {
    padding: 1rem;

    div {
      margin: 1rem 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .wrapper {
    padding: 1rem;
  }

  .buttonText {
    flex: 1 1 0%;
    text-align: left;
  }

  .btnSelectDates {
    border-top: 1px solid $hel-light;
    font-weight: 500;
  }

  .btnBack {
    font-weight: 500;
    border-bottom: 1px solid $hel-gray;

    svg:first-child {
      margin-right: 0.75rem;
    }
  }

  .btnClose {
    border-top: 1px solid $hel-light;

    .buttonText {
      text-align: center;
    }
  }
}
