@import "colors";

.home {
  text-align: center;
}

.homeLogo {
  height: 40vmin;
}

.homeHeader {
  background-color: $hel-white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $hel-black;
}
