.eventPageWrapper {
  --link-color: var(--color-tram-dark);
  --hero-background-color: var(--color-copper-light);

  min-height: 20rem;
  display: grid;
}

.coursePageWrapper {
  --link-color: var(--color-coat-of-arms-dark);
  --hero-background-color: var(--color-fog-medium-light);

  min-height: 20rem;
  display: grid;
}
