
.curatedEventListContainer {
  padding-bottom: 1rem;
  margin-top: var(--spacing-s);

  &:not(:first-child) {
    margin-top: var(--spacing-xl);
  }

  h3 {
    font-size: var(--fontsize-heading-m);
  }
}

.container {
  padding-top: var(--spacing-s);
}

.curatedEventList {
  background-color: var(--color-black-5);
  padding: 0;

  h2 {
    margin: 0;
    padding: var(--spacing-xl) 0;
  }

  .greyBackground {
    padding: var(--spacing-xl) 0;
    background-color: var(--color-black-5);

    p {
      font-size: 1.25rem;
      line-height: 2rem;
      max-width: 65rem;
    }
  }

  .titlePastRecommendations {
    margin-top: 2.5rem;
  }
}

.loadMoreWrapper {
  margin-top: 1.75rem;
  display: flex;
}
