@import "colors";
@import "variables";

.curatedEventList {
  background-color: $hel-black-5;
  padding: $largePadding 0;

  .contentWrapper {
    margin-top: -13rem;
    padding-bottom: 13rem;
  }

  .titlePastRecommendations {
    margin-top: 2.5rem;
  }
}