@import "colors";
@import "fonts";
@import "layout";
@import "variables";

.searchResultListContainer {
  background-color: $hel-black-5;
  padding: $largePadding 0;
}

.count {
  font-size: 1.5rem;
  font-weight: $font-weight-bold;
  margin-bottom: 1.5rem;

  @include respond_above(sm) {
    font-size: 2.25rem;
    margin-bottom: 4rem;
  }
}

.searchResultWrapper {
  display: grid;
  grid-row-gap: 0.625rem;

  margin-left: -0.75rem;
  margin-right: -0.75rem;

  @include respond_above(sm) {
    grid-row-gap: unset;
    grid-column-gap: $largeMargin;
    grid-template-columns: 2fr 5fr;
  }

  .eventListWrapper {
    .loadMoreWrapper {
      margin-top: 1.5rem;

      @include respond_above(sm) {
        margin-top: 0;
      }
    }
  }
}