@import "colors";
@import "fonts";
@import "layout";
@import "variables";

.searchResultListContainer {
  background-color: $hel-black-5;
  padding: $largePadding 0;
}

.count {
  font-size: 1.125rem;
  font-weight: $font-weight-bold;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;

  @include respond_above(sm) {
    text-align: left;
  }

  @include respond_above(md) {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

.searchResultWrapper {
  display: grid;
  grid-row-gap: 0.625rem;
  max-width: 1120px;
  margin: auto;

  .eventListWrapper {
    .loadMoreWrapper {
      margin-top: 1.5rem;

      @include respond_above(sm) {
        margin-top: 0;
      }
    }
  }
}