@import "colors";

.searchWordFilter {
  display: flex;
  margin-bottom: 1rem;

  div {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: bold;
  }

  button {
    display: inline-flex;
    align-self: center;
    margin-left: 0.5rem;

    svg {
      height: 1.5rem;
      width: 1.5rem;
    }

    &:focus {
      outline: 2px solid $hel-black;
      outline-offset: 0.125rem;
    }
  }
}