@import "layout";

.container {
    display: grid;
    grid-row: span;
    place-content: flex-start;

    & > * {
        grid-column: 2;
    }
}

@include respond-below(sm) {
    .container {
        grid-template-columns: 5% 1fr 5%;
    }
}

@include respond-between(sm, xlg) {
    .container {
        grid-template-columns: 1fr 10fr 1fr;
    }
}

@include respond-above(xlg) {
    .container {
        grid-template-columns: 1fr 10fr 1fr;
    }
}
