@import "colors";
@import "fonts";
@import "layout";
@import "variables";

.eventLocationContainer {
  background-color: $hel-black-10;
  padding: $basePadding;
  margin: $largeMargin (0 - $basePadding) $largeMargin;

  @include respond_above(sm) {
    margin: $largeMargin 0 $largeMargin;
  }
}

.titleWrapper {
  display: flex;
}

.title {
  display: flex;
  margin-bottom: 1rem;
  flex: 1 1 0%;

  svg {
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.5rem;
  }

  h2 {
    margin: 0;
    font-size: $font-size-lg;
  }
}

.mapLink {
  display: inline-flex;
  align-items: center;
  color: $hel-black;
  font-size: $font-size-sm;
  text-decoration: none;
  margin-bottom: 1rem;

  &:hover {
    text-decoration: underline;
  }

  svg {
    margin-left: 0.5rem;
    fill: $hel-black;
  }
}

.eventName {
  font-size: $h3-font-size;
  font-weight: $font-weight-bold;
  margin: 1rem 0 0.5rem;
}

.location {
  font-size: $font-size-lg;
  margin-bottom: 0.5rem;
}

.directionsLink {
  display: inline-flex;
  align-items: center;
  color: $dark-green;
  margin-right: 2rem;
  font-size: $font-size-lg;
  font-weight: $link-font-weight;
  text-decoration: none;
  margin-top: 0.5rem;

  &:hover {
    text-decoration: underline;
  }

  svg {
    margin-left: 1rem;
    fill: $dark-green;
  }
}

.mapContainer {
  border: none;
  width: 100%;
  height: 20rem;
}
