@import 'layout';

.landingPageSearch {
  margin-top: -3.5rem;
  color: var(--color-white);
  background-color: #464646;
  padding: var(--spacing-l) var(--spacing-m);
  z-index: 1;
  position: relative;

  @include respond-above(sm) {
    padding: var(--spacing-xl);
    margin-top: -5.5rem;
  }

  .searchRow {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.25rem;
    margin-bottom: 1.25rem;
    height: fit-content;
    align-items: center;
    position: relative;

    @include respond-above(md) {
      grid-gap: 2.5rem;
      grid-template-columns: 1fr 3fr 3fr;
    }
  }

  .linkRow {
    float: right;
  }

  h2 {
    font-size: var(--fontsize-heading-m);
    margin: 0;
  }

  .titleWrapper {
    padding-top: 0;

    @include respond-above(sm) {
      padding-top: 1.3125rem;
      min-width: 11.1rem;
    }
  }

  .autosuggestWrapper {
    align-self: flex-end;
  }

  .dateAndButtonWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.25rem;
    height: fit-content;
    align-self: flex-end;

    @include respond-above(sm) {
      grid-gap: 2.5rem;
      grid-template-columns: 2fr 2fr 1fr;
    }

    @include respond-above(md) {
      grid-gap: 2.5rem;
      grid-template-columns: 2fr 1fr;
    }
  }

  .dateSelectorWrapper {
    align-self: flex-end;

    @include respond-above(sm) {
      grid-column-start: 2;
    }

    @include respond-above(md) {
      grid-column-start: 1;
    }
  }
  .desktopDateSelector {
    @include respond-below(sm) {
      display: none;
    }
  }

  .buttonWrapper {
    align-self: flex-end;
  }
}

.categoriesWrapper {
  padding: 4rem 0 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem 3.25rem;
  height: fit-content;
  align-items: center;

  @include respond-below(sm) {
    display: none;
  }

  @include respond-above(md) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  div:nth-child(10) {
    @include respond-below(md) {
      grid-column-start: 2;
    }
  }
}