@import "colors";
@import "fonts";
@import "layout";
@import "variables";

.extraFilters {
  margin-top: $largeMargin;

  .contentWrapper {
    padding: $basePadding;
    background-color: $hel-white;

    .title {
      font-size: 1.125rem;
      margin: 0 0 0.875rem;
    }
  }
}