.skeletonWrapper {
  height: 2rem;
  padding-left: 2.25rem;
}

.eventList {
  margin-bottom: 1rem;

  .toggleButton {
    padding: 0.75rem 0;
    font-weight: 600;
    display: flex;
    width: 100%;
    align-items: center;

    &:focus {
      outline: 2px solid var(--color-black);
    }

    span {
      flex: 1 1 0%;
      text-align: left;
    }

    svg {
      height: 1rem;
      width: 1rem;
    }

    &.isListOpen {
      svg {
        transform: rotateX(180deg);
      }
    }
  }

  ul.timeList {
    list-style: none;
    padding: 0;
    margin: 0 0 var(--spacing-xs) 0;

    .listButton {
      text-decoration: none;
      color: black;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.75rem 0;
      text-align: left;
    }

    .arrowContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-copper-light);
      height: 1.5rem;
      width: 1.5rem;
    }

    li {
      border-top: 1px solid var(--color-black-10);

      &:last-child {
        border-bottom: 1px solid var(--color-black-10);
      }
    }
  }
}
