@import 'colors';
@import 'fonts';
@import 'layout';

.collectionCardWrapper {
  display: flex;
  position: relative;
  background-color: $hel-white;
  text-decoration: none;

  .imageWrapper {
    outline: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .textWrapper {
    background-color: $hel-white;
    padding: 1.25rem;

    display: grid;
    grid-template-rows: auto 1fr auto;

    .count {
      display: inline-block;
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      background-color: $hel-black;
      color: $hel-white;
      margin-bottom: 1rem;
    }

    .titleWrapper {
      align-self: flex-start;
      hyphens: auto;
    }

    .title {
      font-size: var(--fontsize-heading-m);
      line-height: var(--lineheight-l);
      font-weight: 600;
      color: var(--color-black);
      text-decoration: none;
      display: block;
    }

    .description {
      color: var(--color-black);
      font-size: $body-medium-font-size;
    }

    .linkWrapper {
      padding-top: 1rem;
    }
  }

  &.smSize {
    flex-direction: column;
    grid-template-columns: auto 1fr;

    @include respond-below(sm) {
      flex-direction: row;
    }

    .imageWrapper {
      min-height: 18rem;
      text-decoration: none;

      @include respond-below(sm) {
        min-height: 10.5rem;
        width: 7rem;
      }
    }

    .textWrapper {
      flex: 1 1 0%;
      grid-template-rows: 1fr auto;

      @include respond-below(sm) {
        grid-template-columns: unset;
        grid-template-rows: 1fr auto;
        min-height: 7.25rem;
        flex: 1 1 0%;
      }

      .countWrapper {
        position: absolute;
        top: 1rem;
        left: 1rem;
      }

      .count {
        background-color: $hel-white;
        color: $hel-black;
      }

      .linkWrapper {
        display: flex;
        align-self: center;

        @include respond-below(sm) {
          padding-top: 1rem;
          padding-left: 0;
        }
      }
    }
  }

  &.mdSize {
    flex-direction: column;

    @include respond-below(sm) {
      flex-direction: row;
    }

    .imageWrapper {
      min-height: 18rem;
      text-decoration: none;

      @include respond-below(sm) {
        min-height: 10.5rem;
        flex: 1 1 0%;
      }
    }

    .textWrapper {
      flex: 1 1 0%;
      grid-template-rows: 1fr auto;

      @include respond-below(sm) {
        grid-template-columns: unset;
        grid-template-rows: 1fr auto;
        min-height: 12.375rem;
        flex: 1 1 0%;
      }

      .countWrapper {
        position: absolute;
        left: 1rem;
        top: 1rem;
      }

      .count {
        @include respond-above(sm) {
          background-color: $hel-white;
          color: $hel-black;
        }
      }

      .linkWrapper {
        display: flex;
        align-self: center;

        div {
          display: inline-block;
        }
      }
    }
  }

  &.lgSize {
    flex-direction: row-reverse;

    @include respond-below(sm) {
      flex-direction: column;
    }

    .imageWrapper {
      min-height: 40.5rem;
      flex: 3 1 0%;
      text-decoration: none;

      @include respond-below(sm) {
        min-height: 12.75rem;
      }
    }

    .textWrapper {
      min-height: 40.5rem;
      min-width: 31.25rem;
      flex: 1 1 0%;

      @include respond-below(sm) {
        min-height: unset;
        min-width: unset;
      }

      .titleWrapper {
        align-self: center;
      }

      .title {
        font-size: var(--fontsize-heading-l);
        line-height: var(--lineheight-l);
        margin-bottom: 1rem;

        @include respond-below(sm) {
          font-size: var(--fontsize-heading-m);
          margin-bottom: 0.5rem;
        }
      }

      .description {
        font-size: $body-large-font-size;

        @include respond-above(sm) {
          font-size: $body-medium-font-size;
          line-height: 2.25rem;
        }
      }
    }
  }
}
