@import "layout";

.collectionCardContainer {
  display: grid;
  column-gap: 0.625rem;
  row-gap: 0.625rem;
  margin-bottom: 1.25rem;

  @include respond-above(sm) {
    margin-bottom: 3.75rem;
    column-gap: 2.25rem;
    row-gap: 2.25rem;
  }

  @include respond-above(md) {
    margin-bottom: 4rem;
    column-gap: 3rem;
    row-gap: 3rem;
  }

  &.smLayout {
    grid-template-columns: 1fr;

    @include respond-above(sm) {
      grid-template-columns: 1fr 1fr;
    }

    @include respond-above(md) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &.mdLayout {
    grid-template-columns: 1fr;

    @include respond-above(sm) {
      margin-bottom: 2.25rem;
      grid-template-columns: 1fr 1fr;
    }

    @include respond-above(md) {
      margin-bottom: 4rem;
      grid-template-columns: 1fr 1fr;
    }
  }

  &.mdAndSmLayout {
    grid-template-columns: 1fr;

    @include respond-above(sm) {
      margin-bottom: 2.25rem;
      grid-template-columns: 1fr 1fr;
    }

    @include respond-above(md) {
      margin-bottom: 4rem;
      grid-template-columns: 2fr 1fr 1fr;
    }
  }

  &.lgLayout {
    grid-template-columns: 1fr;
  }
}