@import 'colors';
@import 'fonts';
@import 'layout';
@import 'variables';

$logoWidth: 5.5rem;

.eventContent {
  background-color: var(--color-white);

  .contentWrapper {
    display: grid;

    @include respond_above(sm) {
      grid-template-columns: $logoWidth 1fr 1fr;

      .infoColumn {
        order: 3;
      }

      .descriptionColumn {
        order: 2;
      }
    }
  }
}
.descriptionTitle {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  margin: 2rem 0 1rem;

  @include respond_above(sm) {
    font-size: $h2-font-size;
  }
}

.description {
  line-height: 1.5;

  p {
    font-size: $font-size-lg;
    margin: 1rem 0;
  }

  a {
    color: $hel-black;
    text-decoration: underline;
  }
}

.horizontalDivider {
  height: 2px;

  border-bottom: 2px solid $hel-black-40;
}

.largeWhiteSpace {
  padding-top: $largePadding;
  margin-bottom: $largeMargin;
}
