@import 'fonts';
@import 'layout';
@import 'variables';

.similarEvents {
  background-color: var(--color-black-5);
  padding: $largePadding 0;
}

.similarEventsTitle {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: $h2-font-size;
  font-weight: $font-weight-bold;
}

.similarEventList {
  display: grid;
  margin: 0;
  grid-gap: 0.625rem;

  @include respond_above(sm) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.75rem 3rem;
  }

  @include respond_above(md) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
