.filter {
  height: auto;
  min-height: var(--spacing-m);
  background-color: var(--color-black-70);
  color: var(--color-white);
  margin: var(--spacing-2-xs) var(--spacing-2-xs) var(--spacing-2-xs) 0;
  display: inline-flex;
  padding: var(--spacing-4-xs) var(--spacing-2-xs) var(--spacing-4-xs)
    var(--spacing-3-xs);
  align-items: center;
  font-size: var(--fontsize-body-s);
  font-weight: 500;

  .closeButton {
    padding: 0;
    background: transparent;
    border: none;
    margin-right: var(--spacing-3-xs);
    cursor: pointer;

    svg {
      color: var(--color-white);
      vertical-align: middle;
      margin: 0;
    }

    &:focus {
      outline: 2px solid var(--color-white);
      outline-offset: 0;
    }
  }
}

.date,
.dateType {
  background-color: var(--color-engel-medium-light);
  color: var(--color-black);

  .closeButton {
    svg {
      color: var(--color-black);
    }

    &:focus {
      outline: 2px solid var(--color-black);
    }
  }
}

.district,
.keyword,
.place,
.yso {
  background-color: var(--color-black-70);
  color: var(--color-white);

  .closeButton {
    svg {
      color: var(--color-white);
    }

    &:focus {
      outline: 2px solid var(--color-white);
    }
  }
}
