@import "colors";

.filter {
  height: auto;
  min-height: 1.5rem;
  background-color: $hel-black-70;
  color: $hel-white;
  margin: 0.5rem 0.5rem 0.5rem 0;
  display: inline-flex;
  padding: 0.125rem 0.5rem 0.125rem 0.25rem;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;

  .closeButton {
    padding: 0;
    background: transparent;
    border: none;
    margin-right: var(--spacing-3-xs);
    cursor: pointer;

    svg {
      fill: $hel-white;
      vertical-align: middle;
      margin: 0;
    }

    &:focus {
      outline: 2px solid $hel-white;
      outline-offset: 0;
    }
  }
}

.date,
.dateType {
  background-color: $hel-engel-light-50;
  color: $hel-black;

  .closeButton {
    svg {
      fill: $hel-black;
    }

    &:focus {
      outline: 2px solid $hel-black;
    }
  }
}

.district,
.keyword,
.place,
.yso {
  background-color: $hel-black-70;
  color: $hel-white;

  .closeButton {
    svg {
      fill: $hel-white;
    }

    &:focus {
      outline: 2px solid $hel-white;
    }
  }
}
