@import "colors";

.filter {
  height: auto;
  min-height: 1.5rem;
  background-color: $hel-metro-light-50;
  color: $hel-black;
  margin: 0.1875rem 0.375rem 0.1875rem 0;
  display: inline-flex;
  padding: 0.125rem 0.5rem;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;

  .closeButton {
    padding: 0;
    background: transparent;
    border: none;
    margin-right: 0.375rem;
    cursor: pointer;

    svg {
      fill: $hel-black;
      height: 0.625rem;
      width: 0.625rem;
      margin: 0;
    }
  }
}

.date,
.dateType {
  background-color: $hel-engel-light-50;
}
.keyword {
  background-color: $hel-metro-light-50;
}
.place {
  background-color: $hel-tram;
  color: $hel-white;

  .closeButton {
    svg {
      fill: $hel-white;
    }
  }
}
.yso {
  background-color: $hel-metro-light-20;
}
