@import 'mixins';

.dropdown {
  position: relative;
  background: var(--color-white);

  box-sizing: border-box;

  .toggleButton {
    cursor: pointer;
    border: 0.125rem solid var(--color-white);
    background: transparent;
    min-height: 3.375rem;
    padding: 0 0.875rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border: 2px solid var(--color-white);
    outline: none;

    &:focus {
      border-color: var(--color-black);
    }

    svg {
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  .isSelectedIndicator {
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--color-tram-dark);
  }

  .iconWrapper {
    display: flex;
    align-self: center;

    svg {
      margin-right: 1rem;
    }
  }

  .title {
    flex: 1 1 0%;
    text-align: left;
    color: var(--color-black);
    position: relative;
    overflow: hidden;

    input {
      height: 100%;
      line-height: 1.25rem;
      padding-left: 0;
      width: 100%;
      border: none;
      outline: none;

      @include placeholder(var(--color-black));
    }

    .titleText {
      line-height: 1.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .arrowWrapper {
    display: flex;
    align-self: center;

    svg {
      margin-left: 0.75rem;
      pointer-events: none;
    }
  }

  .inputWrapper {
    position: relative;
    border-bottom: 2px solid var(--color-black-10);

    input {
      height: var(--spacing-2-xl);
      width: 100%;
      padding: 0 var(--spacing-s) 0 var(--spacing-2-xl);
      border: none;
      outline: none;
    }

    svg {
      position: absolute;
      top: 50%;
      left: var(--spacing-s);
      transform: translateY(-50%);
    }
  }
}

.dropdownItem {
  margin: 0;
  padding: var(--spacing-xs) var(--spacing-s);

  &--first {
    padding-top: 1rem;
  }

  &--isFocused {
    background-color: var(--color-fog);
  }
}

.checkbox--isFocused {
  background-color: var(--color-fog);
}
