@import "colors";
@import "layout";

.supriseMeButton {
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 50%;
  position: absolute;
  top: -4.75rem;
  right: 2.5rem;
  overflow: hidden;
  background-color: $hel-suomenlinna;
  border: none;
  cursor: pointer;

  .text {
    font-size: 0.875rem;
    position: absolute;
    top: 1.875rem;
    width: 6.25rem;
    left: 0;
    font-weight: 600;
    color: $hel-black;
  }

  svg {
    position: absolute;
    bottom: 0;
    height: 3rem;
    width: 3rem;
    transform: translateX(-50%);
  }

  @include respond-below(sm) {
    height: 4.75rem;
    width: 4.75rem;
    top: -3.75rem;

    .text {
      font-size: 0.6875rem;
      top: 0.75rem;
      width: 3.125rem;
      left: 0.8125rem;
    }

    svg {
      height: 2.25rem;
      width: 2.25rem;
    }
  }
}