@import "colors";
@import "fonts";
@import "layout";
@import "variables";

$buttonWidth: 180px;
$gridGapSmall: 0.625rem;
$gridGapMedium: $basePadding;
$gridGapLarge: $largePadding;

.searchContainer {
  color: $hel-black;
  background-color: $hel-copper-light-20;
  padding: 2.375rem 0 1.5rem 0;
  position: relative;

  .rowWrapper {
    display: grid;
    height: fit-content;
    align-items: center;

    grid-template-columns: 1fr;
    grid-gap: $gridGapSmall;

    margin-bottom: $gridGapSmall;

    @include respond-above(sm) {
      grid-template-columns: 1fr $buttonWidth;
      grid-gap: $gridGapMedium;

      margin-bottom: $gridGapMedium;
    }

    @include respond-above(md) {
      grid-gap: $gridGapLarge;
    }
  }

  .buttonWrapper {
    align-self: flex-end;
  }

  .row {
    display: grid;
    grid-gap: $gridGapSmall;

    @include respond-above(sm) {
      grid-template-columns: 1fr 1fr;
      grid-gap: $gridGapMedium;
    }

    @include respond-above(md) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .autoSuggestRow {
    @include respond-above(sm) {
      grid-template-columns: 1fr;
    }

    @include respond-above(md) {
      div:first-child {
        grid-column: 1 / 4;
      }
    }
  }

  .checkbox {
    margin-top: $gridGapSmall;

    label {
      display: flex;
      align-items: center;
    }
    @include respond-above(sm) {
      margin-top: 0;
    }    
  }

  .dateSelectorWrapper {
    align-self: flex-end;
  }
}

.label {
  font-size: $label-font-size;
  font-weight: $label-font-weight;
  line-height: normal;

  @include respond-below(sm) {
    display: none;
  }
}

.categoriesWrapper {
  padding: 4rem 0 4rem;
}