@import "colors";
@import "fonts";
@import "layout";
@import "variables";

.searchContainer {
  
  color: $hel-black;
  background-color: $hel-copper-light-20;
  padding: 2.375rem 0 3.75rem 0;
  position: relative;

  .searchWrapper {
    display: grid;
    grid-gap: 0.625rem;
    height: fit-content;
    align-items: center;

    grid-template-columns: 1fr;

    @include respond-above(sm) {
      grid-template-columns: 1fr auto;
      grid-gap: $basePadding;
    }

    @include respond-above(md) {
      grid-gap: $largePadding;
    }
  }

  .fieldsWrapper {
    .firstRow {
      margin-bottom: 0.625rem;

      @include respond-above(sm) {
        margin-bottom: $baseMargin;
      }

      @include respond-above(md) {
        grid-template-columns: 3fr 1fr;
        grid-gap: 0.5rem;
        display: grid;
      }
    }

    .secondRow {
      display: grid;
      grid-gap: 0.625rem;

      @include respond-above(sm) {
        grid-template-columns: 1fr 1fr;
        grid-gap: $basePadding;
      }

      @include respond-above(md) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: $basePadding;
      }
    }
    .dateSelectorWrapper {
      align-self: flex-end;
    }
  }
}

.buttonWrapper {
  align-self: flex-end;
}

.label {
  font-size: $label-font-size;
  font-weight: $label-font-weight;
  line-height: normal;

  @include respond-below(sm) {
    display: none;
  }
}

.categoriesWrapper {
  padding: 4rem 0 4rem;
}