
@import "colors";

.buttonGray:not(:disabled) {
  background-color: $hel-black-70;
  border-color: $hel-black-70 !important;
  color: $hel-white;
} 


.buttonGray.disabled {
  background-color: $hel-black-50;
  border-color: $hel-black-50;
}

.buttonGray:not(:disabled):hover {
  background-color: $hel-black-80;
  border-color: $hel-black-80;
}
