.buttonGray:not(:disabled) {
  background-color: var(--color-black-70);
  border-color: var(--color-black-70) !important;
  color: var(--color-white);
}

.buttonGray.disabled {
  background-color: var(--color-black-50);
  border-color: var(--color-black-50);
}

.buttonGray:not(:disabled):focus {
  background-color: var(--color-black-70);
  border-color: var(--color-black-70);
}

.buttonGray:not(:disabled):hover,
.buttonGray:not(:disabled):focus:hover {
  background-color: var(--color-black-80);
  border-color: var(--color-black-80);
}


.buttonCoatBlue {
  --button-background-color: var(--color-coat-of-arms);
  --button-hover-color: var(--color-coat-of-arms-dark);

  --background-color: var(--button-background-color);
  --border-color: var(--button-background-color);
  --background-color-hover: var(--button-hover-color);
  --background-color-focus: var(--button-hover-color);
  --background-color-hover-focus: var(--button-hover-color);
  --border-color-focus: var(--button-hover-color);
  --border-color-hover-focus: var(--button-hover-color);
  --border-color-hover: var(--button-hover-color);
}