.buttonGray:not(:disabled) {
  background-color: var(--color-black-70);
  border-color: var(--color-black-70) !important;
  color: var(--color-white);
}

.buttonGray.disabled {
  background-color: var(--color-black-50);
  border-color: var(--color-black-50);
}

.buttonGray:not(:disabled):focus {
  background-color: var(--color-black-70);
  border-color: var(--color-black-70);
}

.buttonGray:not(:disabled):hover,
.buttonGray:not(:disabled):focus:hover {
  background-color: var(--color-black-80);
  border-color: var(--color-black-80);
}
