@import "colors";
@import "layout";

.mobileDateSelector {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: -1.25rem;

  @include respond_above(sm) {
    display: none;
  }

  .iconCalendar {
    fill: $hel-white;

    &.isSelected {
      fill: #464646;
    }
  }
}

.menuWrapper {
  display: inline;
}