@import "colors";
@import "variables";

.eventList {
  background-color: $hel-black-5;
  padding: $largePadding 0;

  h2 {
    text-align: center;
  }

  .eventSearchListWrapper {
    max-width: 68.75rem;
    margin-left: auto;
    margin-right: auto;
  }
}