@import 'layout';

.pageLayout {
  height: 100%;
  width: 100%;

  display: grid;

  grid-template-rows: auto 1fr auto;

  .pageBody {
    display: grid;
    align-content: flex-start;
  }

  &.mobileMenuOpen {
    .pageBody {
      @include respond-below(sm) {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s;
      }
    }
    @include respond-below(sm) {
      footer {
        visibility: hidden;
      }
    }
  }
}
