.category {
  height: auto;
  min-height: 1.5rem;
  background-color: $hel-metro-light-50;
  color: var(--color-black);
  margin: 0.1875rem 0.375rem 0.1875rem 0;
  display: inline-flex;
  padding: 0.125rem 0.5rem;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;

  .closeButton {
    padding: 0;
    background: transparent;
    border: none;
    margin-right: 0.375rem;
    cursor: pointer;

    svg {
      fill: var(--color-black);
      height: var(--spacing-xs);
      width: var(--spacing-xs);
      margin: 0;
    }
  }
}
