.searchLabel {
  color: var(--color-white);
  font-weight: 500;
  line-height: 1.5;
}

.black {
  color: var(--color-black);
}

.white {
  color: var(--color-white);
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
