@import "colors";
@import "layout";

.heroWrapper {
  position: relative;
  width: 100%;
  height: 42.6875rem;
  background-image: url("../../../assets/icons/svg/hero-background.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include respond-below(sm) {
    background-position: 60%;
  }
}

.heroImage {
  position: absolute;
  top: 0;
  right: 20%;
  height: 37.1875rem;
  width: 24.9375rem;
  background-image: url("../../../assets/icons/svg/hero-image.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include respond-below(sm) {
    height: 27.75rem;
    width: 18.75rem;
    bottom: 0;
    top: unset;
    right: 50%;
    transform: translateX(50%);
  }
}

.textWrapper {
  padding-top: 9.25rem;
  z-index: 1;

  @include respond-below(sm) {
    padding-top: 3.75rem;
  }

  .subTitle {
    font-size: 1.125rem;
    color: $hel-dark;
  }

  .title {
    font-size: 3.25rem;
    color: $hel-black;
    font-weight: 600;
    margin-bottom: 1rem;

    @include respond-above(md) {
      max-width: 19.625rem;
    }

    @include respond-above(lg) {
      font-size: 5rem;
      max-width: 38rem;
    }
  }
}