@import 'colors';
@import 'layout';

.landingPageHero {
  position: relative;
  width: 100%;
  height: above;
  padding-bottom: 6rem;

  @include respond-above(sm) {
    min-height: 42.6875rem;
    padding-bottom: unset;
  }

  .desktopBackgroundImage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include respond-below(sm) {
      display: none;
    }
  }

  .mobileBackgroundImage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include respond-above(sm) {
      display: none;
    }
  }

  .image {
    position: absolute;
    top: 0;
    right: 20%;
    height: 100%;
    width: 24.9375rem;
    background-position: center calc(100% - 5.5rem);
    background-size: contain;
    background-repeat: no-repeat;

    @include respond-below(sm) {
      display: none;
    }
  }

  .content {
    padding-top: 3.75rem;
    z-index: 1;

    @include respond-above(sm) {
      padding-top: 9.25rem;
      margin-bottom: 10rem;
    }

    .subTitle {
      font-size: 1.125rem;
      color: $hel-dark;
    }

    .title {
      font-size: 3.25rem;
      color: $hel-black;
      font-weight: 600;
      line-height: 60px;
      margin: 0 0 1rem;

      @include respond-above(md) {
        max-width: 19.625rem;
      }

      @include respond-above(lg) {
        font-size: 5rem;
        line-height: 92px;
        max-width: 38rem;
      }
    }
  }
}

.copperBackgroundColor {
  background-color: var(--color-copper-light-50);
}

.engelBackgroundColor {
  background-color: var(--color-engel);
}

.fogBackgroundColor {
  background-color: var(--color-fog-light-50);
}

.suomenlinnaBackgroundColor {
  background-color: var(--color-suomenlinna-light-50);
}
