@import "colors";
@import "layout";

.keyword {
  height: auto;
  min-height: 1.5rem;
  background-color: $hel-black-80;
  color: $hel-white;
  margin: 0.1875rem 0.375rem 0.1875rem 0;
  display: inline-flex;
  padding: 0.125rem 0.5rem;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;

  @include respond_above(sm) {
    background-color: $hel-summer-light-50;
    color: $hel-black;
  }

  &.lightEngel50 {
    background-color: $hel-engel-light-50;
    color: $hel-black;
  }
}
