@import 'layout';

.dropdownMenu {
  background: var(--color-white);
  color: var(--color-black);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  
  input {
    box-sizing: border-box;
  }

  @include respond_above(sm) {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .dropdownMenuWrapper {
    @include respond_above(sm) {
      max-height: 18.35rem;
      overflow: auto;
    }
  }

  .btnClear {
    cursor: pointer;
    background: transparent;
    border: none;
    border-top: 1px solid var(--color-silver);
    width: 100%;
    padding: 1rem;
    color: var(--color-black-50);

    &:focus {
      outline: 2px solid var(--color-black);
      outline-offset: 0;
    }
  }
}
