@import "./vendor/normalize";
@import "colors";
@import "fonts";
@import "layout";

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
}

a {
  &:focus {
    outline: 2px solid $hel-black;
  }
}

button {
  cursor: pointer;
}

label {
  font-size: $label-font-size;
  font-weight: $label-font-weight;
  line-height: normal;
}

@include respond-below(sm) {
  body.scrollDisabledOnMobile {
    overflow: hidden;
  }
}

// Override globally all text to use Helsinki font.
* {
  font-family: $font-family-base;
}
