@import "colors";
@import "fonts";
@import "layout";

.searchContainer {
  margin-top: -3.5rem;
  color: $hel-white;
  background-color: #464646;
  padding: 1.75rem 1.25rem 1.75rem;
  z-index: 1;
  
  @include respond-above(sm) {
    padding: 2.375rem 2.5rem 1.25rem 2.5rem;
    margin-top: -5.5rem;
  }

  .searchRow {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.25rem;
    margin-bottom: 1.25rem;
    height: fit-content;
    align-items: center;
    position: relative;

    @include respond-above(md) {
      grid-gap: 2.5rem;
      grid-template-columns: 1fr 3fr 3fr;
    }
  }

  .linkRow {
    float: right;

    a {
      color: $hel-white;
      text-decoration: none;
      display: flex;
      align-items: center;
      font-weight: $link-font-weight;

      svg {
        fill: $hel-white;
        height: 0.75rem;
        width: 0.75rem;
        margin-left: 0.5rem;
      }
    }
  }

  h3 {
    margin: 0;
  }

  .titleWrapper {
    padding-top: 0;

    @include respond-above(sm) {
      padding-top: 1.3125rem;
      min-width: 11.1rem;
    }
  }

  .autosuggestWrapper {
    align-self: flex-end;
  }

  .dateAndButtonWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.25rem;
    height: fit-content;
    align-self: flex-end;

    @include respond-above(sm) {
      grid-gap: 2.5rem;
      grid-template-columns: 2fr 2fr 1fr;
    }

    @include respond-above(md) {
      grid-gap: 2.5rem;
      grid-template-columns: 2fr 1fr;
    }
  }

  .dateSelectorWrapper {
    align-self: flex-end;

    @include respond-above(sm) {
      grid-column-start: 2;
    }

    @include respond-above(md) {
      grid-column-start: 1;
    }
  }

  .buttonWrapper {
    align-self: flex-end;
  }
}

.categoriesWrapper {
  padding: 4rem 0 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem 3.25rem;
  height: fit-content;
  align-items: center;

  @include respond-below(sm) {
    display: none;
  }

  @include respond-above(md) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .categoryFood {
    @include respond-below(md) {
      grid-column-start: 2;
    }
  }
}