@import 'layout';

.aboveXs {
  @include respond_below(xs) {
    display: none !important;
  }
}

.aboveSm {
  @include respond_below(sm) {
    display: none !important;
  }
}

.aboveMd {
  @include respond_below(md) {
    display: none !important;
  }
}

.aboveLg {
  @include respond_below(lg) {
    display: none !important;
  }
}

.aboveXlg {
  @include respond_below(xlg) {
    display: none !important;
  }
}

.belowXs {
  @include respond_above(xs) {
    display: none !important;
  }
}

.belowSm {
  @include respond_above(sm) {
    display: none !important;
  }
}

.belowMd {
  @include respond_above(md) {
    display: none !important;
  }
}

.belowLg {
  @include respond_above(lg) {
    display: none !important;
  }
}

.belowXlg {
  @include respond_above(xlg) {
    display: none !important;
  }
}
