name: Browser Tests

on:
  pull_request:
  push:
    branches: [master]
  schedule:
    # Every weekday (Mon-Fri) at 7 UTC in the morning
    - cron: '0 7 * * 1-5'
  workflow_dispatch:

jobs:
  test:
    name: Run browser tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
    env:
      BROWSER_TESTS_UID: ${{ secrets.BROWSER_TESTS_UID }}
      BROWSER_TESTS_PWD: ${{ secrets.BROWSER_TESTS_PWD }}
      BROWSER_TESTS_LOCAL_ENV_URL: ${{ secrets.BROWSER_TESTS_LOCAL_ENV_URL }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.2
        with:
          node-version: '12'
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"
      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install dependencies
        run: yarn --prefer-offline
      - name: Run TestCafe tests
        run: yarn browser-test:ci
      - name: Upload screenshots of failed tests
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: screenshots
          path: screenshots/