@import "mixins";
@import "colors";
@import "variables";

$logoHeight: 2.5rem;
$logoWidth: 5.5rem;

.navbarTop {
  height: 100%;
  display: flex;
}

.logoWrapper {
  padding: 0.75rem 0;
  margin-right: 5rem;

  a {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;

    &:focus {
      outline-offset: 4px;;
    }
  }
  
}

.linkWrapper {
  flex: 1 1 0%;
  display: flex;
  align-items: center;

  a {
    margin-right: 5rem;
    padding-right: 0.5rem;

    &:focus {
      outline: 2px solid $hel-black;
    }
  }

  div:last-child {
    a {
      margin-left: 0;
    }
  }
}
  
.appName {
  margin-left: 1.875rem;
  font-size: 1.25rem;
  color: $hel-black;
  font-weight: 600;
}

.logo {
    @include helsinki-logo($hel-black);
    background-position: center;
    height: $logoHeight;
    width: $logoWidth;
}
